#farmer {
    .margin-container {
        padding: 1em;
        max-width: 900px;
        margin: 0 auto;
    }

    .profile-grid {
        display: grid;
        grid-template-columns: 288px 1fr;
    }

    .fullname {
        font-weight: bold;
        font-size: xx-large;
    }

    .story-container {
        padding: 1em;
        margin: 1em;
        background-color: #D8EEA5;
    }

    .location {
        color: lightsalmon;
    }

    .profile-desc-container {
        padding: 0 1em;
    }
}

@media only screen and (max-width: 600px) {
    #farmer {
        .profile-grid {
            grid-template-columns: 1fr;
        }
    }
}