#farmer {
    .farmer-profile-container {
        width: 100%;
    }

    .profile-grid {
        display: flex;
        flex-direction: row;

        > aside {
            width: 50%;

            &:last-child {
                margin: 12px;
            }
        }
    }

    .img-container {
        margin: 12px;
    }

    .name {
        font-weight: 600;
        font-size: 16px;
        margin: 0;
    }

    .bio {
        font-size: 14px;
    }

    .location {
        display: flex;

        svg {
            margin-right: 10px;
        }
    }

    .quote {
        font-size: 12px;
        padding: 16px 12px;
        background-color: #D8EEA5;
    }

    .profile-grid {
        display: grid;
        grid-template-columns: 288px 1fr;
    }

    .fullname {
        font-weight: bold;
    }

    .story-container {
        padding: 1em;
        margin: 1em 0;
        background-color: #D8EEA5;
    }
}