main {
    .margin-container {
        padding: 1em;
        max-width: 900px;
        margin: 0 auto;
    }

    .instruction-container {
        max-width: 764px;
        margin: 2em auto;
        display: grid;
        gap: 1em;
    }
}