.card-with-desc {
    height: 143px;
    min-width: 123px;
    position: relative;
    
    .card-image {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }

    .description {
        margin: 0;
        position: absolute;
        background-color: white;
        padding: 0 16px;
        bottom: 0;
        width: 100%;
    }
}

