@import "../styles/variables";

.farmer-product-card {
    display: flex;
    flex-flow: column;
    margin: 0 auto;
    overflow: hidden;
    height: 328px;
    width: 226px;
    border-radius: 8px;
    box-shadow: 0 2px 0.5em rgba($color: #000000, $alpha: 0.1);
    border: 1px solid $border-color;
    
    .upper {
        width: 100%;
        flex-grow: 1;
        background-color: grey;

        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }

    .lower {
        padding: 0.5em 1em;
        height: 160px;
        text-align: left;

        .label {
            font-weight: bold;
        }
    
        .remain {
            margin-top: 0.5em;
            font-weight: bold;
            color: $light-green-color;
        }
    }

    .tag-container {
        display: flex;
        padding: 8px;
        
        > span {
            padding: 0 16px;
            background-color: #E1BB00;
            color: white;
            border-radius: 16px;

            &:not(:last-child) {
                margin-right: 8px;
            }
        }
    }
}

@media only screen and (max-width: 600px) {
    .farmer-product-card {
        width: 100%;
        height: 328px;
    }
}
