footer {
    background-color: #F9F9F9F0;

    aside {
        div, button {
            width: fit-content;
        }
    }

    .margin-container {
        padding: 1em;
        max-width: 900px;
        margin: 0 auto;
    }

    .img-container {
        width: 64px;
    }

    .link-grid {
        color: #B0B0B0;
        display: grid;
        grid-template-columns: repeat(2, 186px);
        margin: 1em 0;
    }

    .term-link {
        margin-top: 1em;
        color: #B0B0B0;
    }
}
