header {
    box-shadow: 0 0 0.5em rgba($color: #000000, $alpha: 0.1);
    height: 64px;

    .img-container {
        margin-right: 0.5em;
    }
}

header.mobile {
    display: none;

    .margin-wrapper {
        max-width: 1100px;
        height: 100%;
        margin: 0 auto;
        display: grid;
        grid-template-columns: 64px 1fr 64px;

        > aside {
            display: flex;
            align-items: center;
            padding: 0.5em 1em;

            &:nth-child(2){
                justify-content: center;
            }

            &:last-child {
                justify-content: flex-end;
            }
        }
    }   
}

header.desktop {
    height: 64px;

    .img-container {
        margin-right: 1em;
    }

    .margin-wrapper {
        max-width: 1100px;
        height: 100%;
        margin: 0 auto;
        display: grid;
        grid-template-columns: repeat(2, 1fr);

        > aside {
            display: flex;
            align-items: center;
            padding: 0.5em 1em;

            &:last-child {
                justify-content: flex-end;
            }
        }
    }

    .link-container {
        > div {
            display: inline;
        }

        > div:not(:last-child) {
            margin-right: 1em;
        }
    }
}

#sidenav {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    max-width: 100vh;
    width: 262px;
    background-color: white;
    box-shadow: 0 0 1em rgba($color: #000000, $alpha: 0.2);
    transition: 300ms;

    &:not(.expanded) {
        left: -262px;
        box-shadow: 0 0 1em rgba($color: #000000, $alpha: 0);
    }

    .content-container {
        .nav-header {
            display: flex;
            padding: 1em;
        }
    }
}

/* MOBILE */

@media only screen and (max-width: 600px) {
    header.mobile {
        display: block;
    }

    header.desktop {
        display: none;
    }
}