@import "../styles/variables";

.instruction-card {
    display: flex;
    flex-flow: column;
    text-align: center;

    .span-container {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 1em;

        .number-span {
            width: 24px;
            height: 24px;
            color: $dark-green-color;
            background-color: $inner-green-color;
            border-radius: 50%;
            margin-right: 0.5em;
        }

        .header-span {
            color: $dark-green-color;
        }
    }

    .desc {
        color: $light-green-color;
    }
}
