.package-card {
    display: flex;
    flex-flow: column;
    margin: 0 auto;

    height: 328px;
    width: 246px;

    .upper {
        flex-grow: 1;
        background-color: grey;
    }

    .lower {
        height: 64px;
        background-color: lightgrey;
    }
}
