.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    > * {
        margin: 0;
    }

    .subtitle {
        font-family: Sarabun;
        margin: 10px 0 24px 0;
        max-width: 400px;
        white-space: pre-line;
        line-height: 10px;
        font-size: 11px;
    }
}

.BrainhubCarousel__arrows, .BrainhubCarousel__arrows:hover:enabled {
    position: relative;
    padding: 10px;
    border: none;
    overflow: hidden;
    border-radius: 100px;
    outline: 0;
    font-size: 0;
    line-height: 0;
    background-color: #D8EEA5;
    position: absolute;
    z-index: 1;

    &:hover:enabled {
        background-color: #D8EEA5;
    }

    &.BrainhubCarousel__arrowLeft {
        left: 12px;
        > span {
            margin-left: 1px;
        }
    }

    &.BrainhubCarousel__arrowRight {
        right: 12px;
    }

    > span {
        border-color: #368A3F;
        border-radius: 1px;
        margin-left: -1px;
        padding: 3px;
        border-width: 2px 2px 0 0;
    }
}
